/* You can add global styles to this file, and also import other style files */
.btn2{
    background-color: #A20D8A ;
    color:white;
    padding:10px 20px;
    border-radius: 20px;
}

.btn2:hover{
    background-color: #000000 ;
    color:white;
    padding:10px 20px;
    border-radius: 20px;
}

.coul{
    color: #A20D8A ;
}

.btn1{
    background-color: #A20D8A ;
    color:white;
    padding:10px 20px;
}

.btn1:hover{
    background-color: #000000 ;
    color:white;
    padding:10px 20px;
}

.mar{
    margin: 150px 400px;
    border:1px solid black;
    padding:50px;
    box-shadow: 10px 10px 10px black;
}

.mar1{
    margin: 100px 400px;
    border:1px solid black;
    padding:50px;
    box-shadow: 10px 10px 10px black;
}

.te{
    letter-spacing: 2px;
}